# Terraform working dir & state
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.zip
.DS_Store
.vscode/
.idea/
*~
